/* SECTION - 1. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #f7f1e5;
   overflow-x: hidden;              /* -----  stops horizontal scroll*/
}


.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;    /* space between image and {"cart" (+ -)} */
}

.quantity-buttons{
  border: none;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.count{
 font-size: 22px;
}

.minus, .plus{
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.minus{
  color: red;
}
.plus{
  color: green;
}
.price {
  margin: 0;
  font-weight: bold;
}






.card-container{
    display : flex;
    flex-wrap : wrap;  /*  Allows card to the wrap next line  */
    justify-content: space-around;
    /* padding: 20px; */
}

.heading {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  background-color: hsl(59, 55%, 19%);
  color: #f7f1e5;
  z-index: 99;
}

.heading.active {
  box-shadow: 0px 4px 6px hsl(59, 55%, 19%);
}

img{
       width: 60%;
}



.cart-div {
  position: relative;
  padding: 10px;
  background-color: #f7f1e5;
  color: #4c4b16;
  border-radius: 5px;
  cursor: pointer;
}

.cart-div svg {
  width: 30px;
  height: 30px;
}

.cart-div .count {
  position: absolute;
  top: -18px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  font-size: 20px;
  font-weight: 600;
  min-width: 25px;
  height: 25px;
  border-radius: 5px;
}


.card{
    border : 1px solid #ddd;
    border-radius : 8px;
    padding : 40px 15px ;   
    margin : 10px;
    flex:1;    /*Allows card to grow and shrink */
    min-width: 280px;    /*Minimum width before wrapping  */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

/* SECTION - 2 . */
/* MEDIA QUERY FOR SMALLER SCREENS */
@media (max-width: 768px){
.card-container {
flex-direction:  column;   /* Stack cards vertically*/
align-items : center;      /*center cards in the column */ 
}
.heading{
  padding : 15px 25px;
}
.card{
    width: 90%; /* Take up more width on smaller screens*/
    margin-bottom: 15px;
}
}